/* src/CenterBlock.css */
@import url('https://fonts.cdnfonts.com/css/more-sugar');

.center-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%; /* Full viewport height */
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 8px 8px 8px rgba(255, 255, 255, 0.2);
    border:1px solid white;
    background-color: #e59c43;
  }
  
  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin:120px;
    border-radius: 10px;
    width: 100%;
    
  }
  
  .information__game-name {
    color: #ffffff;
        
    font-size: 38px;
    font-weight: 400;
    font-family: 'More Sugar', sans-serif;
  }
  
  .information__back-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #e22929;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .information__back-button:hover {
    background-color: #fe0505;
  }
  
  .dice {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .dice:hover {
    transform: scale(1.1); /* Slight zoom effect when hovering over the dice */
  }
  
  /* Disable the pointer when the dice can't be rolled */
  .dice[style*="cursor: default"] {
    cursor: default;
  }

  @keyframes fadeInNumber {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .generated-number {
    animation: fadeInNumber 2s ease-in-out;
    display: inline-block; /* Ensure it behaves like an inline element */
    font-size: 1.5rem;
  }
  .fade-in-reset {
    animation: none;
  }
  
  .fade-in-trigger {
    animation: fadeInNumber 2s ease-in-out;
  }
  