/* src/PlayerList.css */

.playerList {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  color:black ;
}

.playerList h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #4a1c40;
  margin-bottom: 15px;
}

/* Table Styling */
.playerList table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 16px;
}

.playerList th,
.playerList td {
  padding: 10px;
  border: 1px solid #ddd;
}

.playerList th {
  background-color: #ffe5b4;
  color: #4a1c40;
  font-weight: bold;
}

.playerList tr:nth-child(even) {
  background-color: #f9f9f9;
}

.playerList tr:nth-child(odd) {
  background-color: #fff;
}

.playerList tr:hover {
  background-color: #ffeedb;
  cursor: pointer;
}

/* Avatar Styling */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  border: 2px solid #4a1c40;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
